.wrap{position:relative;width:100%;height:100%;padding:30px;box-sizing:border-box;}

.title{margin-top:50px;user-select:none;}
.title:first-child{margin-top:0;}
.title p{padding:7px 0;text-align:center;font-size:16px;font-weight:bold;}

.swiper-wrap{width:800px;height:300px;position:relative;margin:0 auto;border-radius:10px;}
.swiper-wrap:after, .swiperCont:after, .swiperList:after{content:'';display:block;clear:both;}
.swiper-cont{width:100%;height:100%;overflow:hidden;margin:0 auto;}

.swiper-list{position:relative;user-select:none;}
.swiper-list .slide-item{float:left;background:#f5f5f5;border-radius:10px;box-sizing:border-box;text-align:center;position:relative;}
.swiper-list .slide-item span{color:#000;font-weight:bold;font-size:14px;width:60px;height:20px;position:absolute;left:50%;top:50%;margin-left:-30px;margin-top:-10px;}

.swiper-btn .slide-btn{position:absolute;border:none;background:none;line-height:30px;background:#666;border-radius:3px;color:#fff;padding:1px 6px;top:50%;margin:0 5px;margin-top:-15px;user-select:none;}
.swiper-btn .slide-btn:focus{outline:none;}
.swiper-btn .slide-btn.prev-btn{left:0px;}
.swiper-btn .slide-btn.next-btn{right:0px;}

.swiper-indicator .indicator-list{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);bottom:-20px;user-select:none;}
.swiper-indicator .indicator-list .indicator-items{width:10px;height:10px;border-radius:3px;float:left;margin:0 4px;background:#bdbaba;font-size:1px;text-indent:-99999px;overflow:hidden;}
.swiper-indicator .indicator-list .indicator-items.active{background:#333;}


/* vertical */
.swiper-wrap.vertical .swiper-indicator .indicator-list{right:-20px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);bottom:unset;left:unset;}
.swiper-wrap.vertical .swiper-indicator .indicator-items{display:block;float:unset;margin:4px 0;}
