
/******************************************************************************
  * swiper.css
  * 2021-06-01 1.0Ver
******************************************************************************/

.swiper-wrap{position:relative;margin:0 auto;width:100%;height:100%;}
.swiper-wrap:after, .swiperCont:after, .swiperList:after{content:'';display:block;clear:both;}
.swiper-cont{width:100%;height:100%;overflow:hidden;margin:0 auto;}
.swiper-list{position:relative;user-select:none;width:100%;height:100%;display:flex;justify-content:center;align-items:center;}
.swiper-item{float:left;box-sizing:border-box;text-align:center;position:relative;display:flex;}

.swiper-btn .btn{position:absolute;border:none;background:none;line-height:30px;background:#007aff;border-radius:3px;color:#fff;padding:1px 6px;top:50%;margin:0 5px;margin-top:-15px;user-select:none;}
.swiper-btn .btn:focus{outline:none;}
.swiper-btn .btn[disabled='disabled']{background:#007aff;}
.swiper-btn .btn.prev-btn{left:0px;}
.swiper-btn .btn.next-btn{right:0px;}

.indicator-list{display:flex;justify-content:center;align-items:center;width:100%;position:absolute;bottom:10px;user-select:none;}
.indicator-list.bar-list{justify-content:left;}
.indicator-list .indicator-items{width:6px;height:6px;border-radius:3px;float:left;margin:0 4px;background:#007aff;font-size:1px;text-indent:-99999px;overflow:hidden;cursor:pointer;opacity:0.2}
.indicator-list .indicator-items.active{opacity:1;}
.indicator-list .indicator-num{font-size:15px;font-weight:bold;}
.indicator-list .indicator-num .indicator-cur{color:#007aff;}
.indicator-list.bar-list{width:100%;height:5px;background:#98caff;border-radius:10px;bottom:-10px;}
.indicator-list.bar-list li{float:left;height:5px;font-size:1px;text-indent:-9999em;border-radius:10px;background:#007aff;}


/* vertical */
.vertical .swiper-btn .btn{padding:0px 6px;right:-30px;margin:0;left:auto;}
.vertical .swiper-btn .btn.prev-btn{top:10px;}
.vertical .swiper-btn .btn.next-btn{bottom:10px;top:auto;}
.vertical .swiper-list{flex-direction:column;}
.vertical .indicator-list{right:10px;top:0;bottom:0;left:auto;}
.vertical .indicator-list{width:auto;height:100%;flex-direction:column;}
.vertical .indicator-list .indicator-items{margin:4px 0;}
.vertical .swiper-indicator .indicator-list.bar-list{height:100%;width:5px;}
.vertical .swiper-indicator .indicator-list.bar-list li{width:5px;}
