body.active, html.active{overflow:hidden;}

.wrap{position:relative;width:100%;height:100%;padding:30px;box-sizing:border-box;}

.title{width:800px;margin:0 auto;margin-top:100px;user-select:none;text-align:center;margin-bottom:20px;border:solid 1px #333;border-right:0;border-left:0;}
.title:first-child{margin-top:0;}
.title p{padding:10px 0;display:inline-block;font-size:16px;font-weight:bold;}

.swiper-wrap{width:800px;height:300px;position:relative;margin:0 auto;border-radius:10px;}
.swiper-wrap:after, .swiperCont:after, .swiperList:after{content:'';display:block;clear:both;}
.swiper-cont{width:100%;height:100%;overflow:hidden;margin:0 auto;}

.swiper-list{position:relative;user-select:none;width:100%;height:100%;}
.swiper-list .slide-item{width:100%;height:100%;float:left;background:#f5f5f5;border-radius:10px;box-sizing:border-box;text-align:center;position:relative;}
.swiper-list .slide-item a{width:100%;height:100%;}
.swiper-list .slide-item span{color:#000;font-weight:bold;font-size:14px;width:60px;height:20px;position:absolute;left:50%;top:50%;margin-left:-30px;margin-top:-10px;}

.swiper-btn .slide-btn{position:absolute;border:none;background:none;line-height:30px;background:#666;border-radius:3px;color:#fff;padding:1px 6px;top:50%;margin:0 5px;margin-top:-15px;user-select:none;}
.swiper-btn .slide-btn:focus{outline:none;}
.swiper-btn .slide-btn[disabled='disabled']{background:#999;}
.swiper-btn .slide-btn.prev-btn{left:0px;}
.swiper-btn .slide-btn.next-btn{right:0px;}

.swiper-indicator .indicator-list,
.swiper-wrap.horizontal .swiper-indicator .indicator-list{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);bottom:10px;user-select:none;}
.swiper-indicator .indicator-list .indicator-items,
.swiper-wrap.horizontal .swiper-indicator .indicator-list .indicator-items{width:6px;height:6px;border-radius:3px;float:left;margin:0 2px;background:#bdbaba;font-size:1px;text-indent:-99999px;overflow:hidden;cursor:pointer;}
.swiper-indicator .indicator-list .indicator-items.active{background:#333;}
.swiper-indicator .indicator-list .indicator-num{font-size:15px;}
.swiper-indicator .indicator-list.bar-list{width:100%;height:5px;background:#bdbaba;border-radius:3px;bottom:-10px;}
.swiper-indicator .indicator-list.bar-list li{float:left;height:5px;font-size:1px;text-indent:-9999em;background:#333;border-radius:3px;}


/* vertical */
.swiper-wrap.vertical .swiper-indicator .indicator-list{right:10px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);bottom:unset;left:unset;}
.swiper-wrap.vertical .swiper-indicator .indicator-items{display:block;float:unset;margin:4px 0;}
.swiper-wrap.vertical .swiper-btn .slide-btn{padding:0px 6px;right:-30px;margin:0;left:unset;}
.swiper-wrap.vertical .swiper-btn .slide-btn.prev-btn{top:10px;}
.swiper-wrap.vertical .swiper-btn .slide-btn.next-btn{bottom:10px;top:unset;}
.swiper-wrap.vertical .swiper-indicator .indicator-list.bar-list{height:100%;width:5px;background:#bdbaba;border-radius:3px;}
.swiper-wrap.vertical .swiper-indicator .indicator-list.bar-list li{float:left;width:5px;font-size:1px;text-indent:-9999em;background:#333;border-radius:3px;}
